*,
*::after,
*::before{
    /* margin:0; */
    padding:0;
} 
 html,body{
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav {
    width: 58%; 
    /* background-color: ; */
    /* height: 50px; */
    /* margin-top: 30px; */
    /* margin-left: 200px; */
    /* padding-right:0px; */
    display: flex;
    align-items: center;
    justify-content: end;
}

.hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end; 
    cursor: pointer;
    width: 35px;
    height: 25px;
  }
   .hamburger span {
    position: absolute;
    display: block;
    background-color: black;
    width: 35px;
    height: 4px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  } 
  .hamburger span:nth-child(1) {
    top: 0px;
  }
  .hamburger span:nth-child(2) {
    top: 10px;
  }
  .hamburger span:nth-child(3) {
    top: 20px;
  }
  
  .hamburger.active span:nth-child(1) {
    top: 10px;
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg); 
    transform: rotate(50deg);
  } */
  
   .hamburger.active span:nth-child(2) {
    display: none;
  }
  
  .hamburger.active span:nth-child(3) {
    top: 10px;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg); 
    transform: rotate(-50deg);
  }
.bkg {
    background: url(/images/Mask-Group-231.jpg);
    width: 60%;
    height: 190px;
    padding: 100px;
    margin-top: 80px;
    margin-left: 170px;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: auto ;
    
}
.blue-txt {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.arrow {
    border: Solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 3px;
}
.slide {
    transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
}


.big-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container {
    display: flex;
    width: 700px;

}
.containers {
    display: flex;
    width: 500px;
    
}
.inline {
    display: inline-block;
    background-color: blue;
    width: 600px;
    gap: 50px;
}

.block {
    display: inline-block;
    background-color: black;
    width: 900px;
    gap: 1000px; 
    z-index: -1;
}

/* .black {
    background-color: black;
    width: 150px;
    height: 70px; */
    /* margin-left: 120px; */
    /* z-index: -1;
}
.blue {
    background-color: blue;
    width: 550px;
    height: 70px;
    margin-right: 700px;
} */
/* margin-bottom: 500px; */
/* .Img {
height: 100%;
width: 100%;
align-items: center;
justify-content: center;
display: flex;
} */
/* .Img {   
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  } */